.filter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-btnpoke{
    background: none;
        border: 1px solid whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        width: 4rem;
        padding: 0.3rem;
        border-radius: 0.3rem;
        transition: all 0.5s ease-in-out;
        background-color: black;
}
.my-btnpoke:hover {
    color: red;
    border: 1px solid red;
}
.headerpokedex{
    height: 10vh;
    display: flex;
    padding: 0 4rem;
    align-items: center;
    padding: 4 rem;
    gap: 2rem;
}

.containerpoke{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem
}

.containerpoke > figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem ;

}
.containerpoke > figure > img{
    width: 100px;
    height: 100px;
}

.tipos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tipos > img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.tipo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tipo > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.buscador{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1175px){
    .containerpoke {
    
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2rem
        }
}
@media (max-width: 952px) {
    .containerpoke {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem
    }
}
@media (max-width: 700px) {
    .containerpoke {

        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 2rem
    }
}