.juegoahorcado{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem
}
.intentoss{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem
}