.ppt {
    height: 90vh;
    display: flex;
    padding: 0 4rem;
    flex-direction: column;
    align-items: center;
    padding: 4 rem;
    gap: 2rem;

}
.contenedorgeneralppt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem
}
.juegoppt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.headerppt{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
}